@{
  Layout = "_Layout";
}

@model LocalEats.Models.Cafe;

<hr/>

<p><button>@Html.ActionLink("Edit Details", "Edit", new {id = @Model.CafeId})</button>   <button>@Html.ActionLink("Delete Item", "Delete", new {id = @Model.CafeId})</button></p>

<hr/>

<h3>@Html.DisplayNameFor(model => model.CafeName): @Html.DisplayFor(model => model.CafeName)</h3>

<h3>@Html.DisplayNameFor(model => model.CafeId): @Html.DisplayFor(model => model.CafeId)</h3>

<h3>@Html.DisplayNameFor(model => model.Owner): @Html.DisplayFor(model => model.Owner)</h3>

<h3>@Html.DisplayNameFor(model => model.Description):</h3>
<p>@Html.DisplayFor(model => model.Description)</p>
